<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>      
      <p>
         Hello <%= @user.name %>,<br><br>

         I’m really sorry for delaying in approaching you!<br><br>

         Hope you're doing fantastic! I noticed that you pre-registered at meuwe.in, and I wanted to personally thank you. Pre-registrations are open just for next 10 days.<br><br>

         Meuwe is world’s first Intra-College dating zone. I wish you have a wonderful time here!<br><br>

         We would notify you when the website is up to complete the registration process and to let your fingers foster love!<br><br>

         Feel free to reply directly to this email if you ever face any problems or would like to share your thoughts on what you like/dislike, and if there is anything you want us to work on.<br><br>

         Thanks again and have a terrific day.<br><br>

         Cheers!<br><br>

          

         Shourya,<br>

         Founder/C.E.O. <br>

         meuwe.in.<br>
      </p>
      
   </body>
</html>