<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
		<title>Let Your Fingers Foster Love | meuwe.in</title>

		<link rel="shortcut icon" href="img/logo.favicon.png" type="image/png" />
		<link rel="icon" href="img/logo.favicon.png" type="image/png" />

		<!-- CSS  -->
		<link href='https://fonts.googleapis.com/css?family=Lobster|Kaushan+Script|Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="css/materialize.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/scrolling-nav.css">
	</head>
	<body class="grey darken-4">
		<div class='navbar-fixed'>
			<nav class='menu-color' role='navigation'>
				<div class='nav-wrapper'>
					<a href='http://meuwe.in/'>
						<img src='img/logo.min.png' class='brand-image'>
					</a>
					<ul class='right hide-on-med-and-down'>
						<li><a href='#register' class='white-text page-scroll'>Register</a></li>
						<li><a href='#story' class='white-text page-scroll'>Story</a></li>
						<li><a href='#contact' class='white-text page-scroll'>Contact Us</a></li>
					</ul>

					<ul id='nav-mobile' class='side-nav'>
						<li><a href='#register' class='grey-alt-text page-scroll'>Register</a></li>
						<li><a href='#story' class='grey-alt-text page-scroll'>Story</a></li>
						<li><a href='#contact' class='grey-alt-text page-scroll'>Contact Us</a></li>
					</ul>
					<a href='#' data-activates='nav-mobile' class='right button-collapse white-text'><i class='material-icons'>menu</i></a>
				</div>
			</nav>
		</div>

		<div class="parallax-container valign-wrapper" style="margin-top:-64px;height:600px;">
			<div class="section">
				<div class="container hide-on-small-and-down">
					<!--<div class="row center">
						<p class="header-logo-font pink-alt-text">me</p><p class="header-logo-font white-text">u</p><p class="header-logo-font red-alt-text">we</p>
					</div>-->
					<div class="row center">
						<h1 class="red-alt-text">Let Your Fingers Foster Love</h1>
						<h3 class="white-text kaushan">World's first Intra-college dating website</h3>
					</div>
					<div class="row center">
						<a class="waves-effect waves-light btn-large red darken-4 white-text page-scroll" style="font-size: 1.4rem;" href="#register">Pre-register Now</a>
					</div>
					<br><br>
				</div>
				<div class="container hide-on-med-and-up">
					<!--<div class="row center">
						<p class="header-logo-font pink-alt-text">me</p><p class="header-logo-font white-text">u</p><p class="header-logo-font red-alt-text">we</p>
					</div>-->
					<div class="row center">
						<h3 class="red-alt-text">Let Your Fingers Foster Love</h3>
						<h5 class="white-text kaushan">World's first Intra-college dating website</h5>
					</div>
					<div class="row center">
						<a class="waves-effect waves-light btn-large red darken-4 white-text page-scroll" style="font-size: 1.4rem;" href="#register">Pre-register Now</a>
					</div>
					<br><br>
				</div>
			</div>
			<div class="parallax"><img src="img/cover1.jpg"></div>
		</div>


		<div id="register" class="container">
			<div class="section">
				<div class="row">
					<br><br>
					<h3 class="center white-text">Pre-register with <a href="http://meuwe.in/" class="logo-font red-alt-text">meuwe</a></h3>
					<h5 class="center white-text">Follow us on facebook to stay updated with current developments.</h5>
					<h5 class="header center white-text">Your emails are safe with us. We won't use it to spam your inbox or for promotional purposes.</h5>
				</div>
				<br>
				<div class="row">
					<!-- <form class="col s12"> -->
					<%= form_tag('/create', class: "col s12") %>
						<div class="row">
							<div class="input-field col m4 s12">
								<input id="last_name" type="text" class="validate" name="[user][name]">
								<label for="last_name">Your Name</label>
							</div>
							<div class="input-field col m4 s12">
								<input id="email" type="email" class="validate" name="[user][email]">
								<label for="email">Email</label>
							</div>
							<div class="input-field col m4 s12">
								<input id="college" type="text" class="validate" name="[user][college]">
								<label for="college">College/University</label>
							</div>
						</div>
						<div class="row center">
							<div class="input-field col s12">
								<button class='btn-large waves-effect waves-lighter red darken-4' type='submit' name='action' style="font-size: 1.4rem;">
									notify me
								</button>
							</div>
						</div>
					</form>
				</div>
				<br><br><br>
			</div>
		</div>
		<div class="parallax-container">
			<div class="parallax">
				<img src="img/cover2.jpg">
			</div>
		</div>
		<div id="story" class="fullscreen container">
			<div class="section">
				<div class="row">
					<h3 class="center white-text">Find Your Robin!</h3>
				</div>
				<div class="row">
					<h5 class="header center white-text">I was walking alone slowly on a chilled Sunday morning when I first saw me. Before this, I was caught up in the cobwebs of my routine life, never realizing what life is. All of us enter, live, leave! Very few realize. Thankfully, I realized. Life is not just living, it’s about loving someone and being loved by someone unconditionally. It may not always be a two way feeling; it's having the feeling that actually matters.</h5>
					<h5 class="header center white-text">We all have our own Robin - the person who we love very much but cannot be with. And whoever we'll meet, whatever we'll do; nothing will be like it would be with Robin. But that's not a problem; the point is, you must have your Robin! That is actually when you realize love, realize life and finally see yourself.</h5>
					<h5 class="header center white-text">What if you get to be with your Robin? What if your one way feeling evolves into a two way feeling? Excited already? Unbelievable? Heaven? Right?</h5>
					<h5 class="header center white-text">Give it a try then. Find your Robin. Get her to be with you. Live a happy love life. Cheers.  <i class="material-icons" style="line-height:2rem;font-size:1rem;">mood</i></h5><br>
				</div>
			</div>
		</div>

		<footer id="contact" class="page-footer red darken-4 center">
			<div class="container">
				<br>
				<div class="row">
					<a class="waves-effect waves-light btn-large white red-text text-darken-4" style="text-transform:lowercase !important;font-size: 1.4rem;">contactus@meuwe.in</a>
				</div>
				<div class="row">
					<div class="col l8 offset-l2 m8 offset-m2 s12">
						<h5 class="white-text">We are working hard round the clock to deliver you the best experience. If you have any query, support or advice in any aspect, kindly drop a mail. We will get back to you at our earliest.</h5>
					</div>
				</div>
				<br>
				<div class="row" style="text-align:center;">
					<h5 class="header white-text">Follow us for regular updates:</h5>
					<br>
					<a href="https://www.facebook.com/meuwe.in/" target="_blank"><img src="img/fblogo.png" class="social-logo"></a>
					<a href="https://twitter.com/team_meuwe" target="_blank"><img src="img/twitterlogo.png" class="social-logo"></a>
					<a href="https://www.instagram.com/team_meuwe/" target="_blank"><img src="img/instalogo.png" class="social-logo"></a>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					&#169; 2015 meuwe.in | All rights reserved
				</div>
			</div>
		</footer>


		<!--  Scripts-->
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
		<script type="text/javascript" src="js/scrolling-nav.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
